<% @friends.each do |friend| %>
  <div class="card foto-form">
    <div class= "card-block"> 
      <%= link_to friend.email, profile_path(friend.id) %> |
      <%= link_to "UNsubscribe", unsubscribe_profile_path(friend.id) %>
    </div>
  </div><br>
<% end %>
